
{% extends 'app/base.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'app/css/emenu.css' %}">

<section class="menu-contenedor">
    <h2 class="texto-platillos">Platillos</h2>
    <div class="botones-platillos">
        <button class="todos btn btn-verde">Todos</button>
        <button class="ensaladas btn btn-verde">Ensaladas</button>
        <button class="pasta btn btn-verde">Nacional</button>
        <button class="pasta btn btn-verde">Pasta</button>
        <button class="pizza btn btn-verde">Pizza</button>
        <button class="postres btn btn-verde">Postres</button>
    </div>
    <div class="platillos">
        <div class="platillo" data-platillo="ensalada">
            <img src="{% static 'app/img/Ensalada_César.jpg' %}" alt="ensalada" class="platillos">
            <h2>Ensalada Cesar</h2>
            <p>Pechuga de pollo,  2 cucharas de aceite de oliva, lechuga cortina, cubos de pan, queso rayado.</p>
            <div class="precio">
                <p>$3.000</p>
                <button><i class="fas fa-shopping-basket">reserva</i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img src="{% static 'app/img/Ensalada Rusa.jpg' %}" alt="ensalada" class="platillos">
            <h2>Ensalada Rusa o Ranch</h2>
            <p>Pepino, lechuga cortina, tomate, tocino, pechuga de pollo y queso parmesano.</p>
            <div class="precio">
                <p>$4.000</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img src="{% static 'app/img/Quinoa.jpg' %}" alt="ensalada">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$5.500</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta1.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$8.000</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta2.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$40.0</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img data-src="assets/img/pasta2.webp" alt="pasta">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p></p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza1.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$8.900</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza2.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$8.900</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pizza">
            <img data-src="assets/img/pizza2.webp" alt="pizza">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$8.000</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres1.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$3.000</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres2.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$3.600</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="postre">
            <img data-src="assets/img/postres2.webp" alt="postre">
            <h2>Quinoa</h2>
            <p>Quinoa, cerezas, tomate, aceitunas, cereal.</p>
            <div class="precio">
                <p>$3.500</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>
</section>

{% endblock %}
